#abeceda{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 30px;
    width: 55%;
    margin: auto;
}

#dragEndPlace{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}

/*button{
    background: transparent;
    border: none !important;
}*/

#wordPlace{
    border: 2px solid black;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 3rem;
}

#hintDiv{
    visibility: hidden;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,0.6);
    overflow: auto;
}

#closeBtn{
    float: right;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
}

/*@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {
    img{
        width : 512px;
        height: 512px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 992px) {
    img{
        width : 692px;
        height: 692px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    img{
        width : 932px;
        height: 932px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1400px) {
    img{
        width : 1112px;
        height: 1112px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 1401px) {
    img{
        width : 1292px;
        height: 1292px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}*/