#abeceda{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: auto;
}

#wordPlace{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 3vw;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    overflow: auto;
}

#closeBtn{
    float: right;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
}

#hangman{
    border: 2px solid black;
    border-radius: 10px;
}

button{
    width: 80px;
}


/*@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {
    img{
        width : 512px;
        height: 512px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 992px) {
    img{
        width : 692px;
        height: 692px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    img{
        width : 932px;
        height: 932px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1400px) {
    img{
        width : 1112px;
        height: 1112px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 1401px) {
    img{
        width : 1292px;
        height: 1292px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}*/